@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  background: #152632;
}

.slick-dots li.slick-active button:before {
  color: #d8d0bd !important;
}
.slick-dots li button:before {
  color: #d8d0bd !important;
}

.slick-container2 .slick-dots {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  bottom: -50px !important;
}
.slick-container2 .slick-dots li.slick-active {
  width: 80px !important;
  height: 50px !important;
  margin: 0 !important;
}
.slick-container2 .slick-dots li {
  width: 80px !important;
  height: 50px !important;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .slick-dots {
    bottom: 20px !important;
  }
}

.slick-next {
  right: 10px !important;
  z-index: 30;
}
.slick-prev {
  left: 10px !important;
  z-index: 30;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.burger:hover div:nth-child(1) {
  transform: scaleX(0.5);
}

.burger:hover div:nth-child(2) {
  transform: scaleX(0.7);
}

.burger:hover div:nth-child(3) {
  transform: scaleX(0.9);
}
